<!---->
<div class="container">
    <form>
        <div class="form-group">
            <label for="nomeImput">Nome</label>
            <input type="text" id="nomeImput" 
            class="form-control" placeholder="Digite um nome" #nomeInput>
        </div>

        <button type="button" (click)="adicionar(nomeInput)" 
        class="btn btn-primary btn-block">Adicionar</button>
        <div class="alert alert-primary mt-3 p-3" *ngIf="exibeCaixa">
            {{nome}}
        </div>
    </form>
</div>

<!--<p> Meu nome é {{nome}} e tenho {{idade}} anos de idade </p>
<p>lançando um dado: {{lancarDado()}} </p>-->